<?xml version="1.0" encoding="utf-8"?>
<service>
 <short>{{ world_name }}</short>
 <description>{{ server_name }}</description>
 <port protocol="tcp" port="{{ server_port }}" />
 <port protocol="udp" port="{{ query_port }}" />
 <port protocol="tcp" port="{{ rcon_port }}" />
</service>
