#Minecraft server properties
#Sun Jan 02 18:03:52 CET 2022

# General Settings
allow-flight=false
broadcast-console-to-ops=true
enable-command-block=false
enable-jmx-monitoring=false
enable-status=true
force-gamemode=false
function-permission-level=2
generator-settings=
generate-structures=true
hide-online-players=false
max-players=20
max-world-size=29999984
motd={{ server_name }}
resource-pack-prompt=
max-tick-time=60000
player-idle-timeout=0
resource-pack=
resource-pack-sha1=
require-resource-pack=false
simulation-distance=10
sync-chunk-writes=true
snooper-enabled=true
text-filtering-config=
view-distance=10

# Network
entity-broadcast-range-percentage=100
network-compression-threshold=256
online-mode=true
prevent-proxy-connections=false
query.port={{ query_port }}
rate-limit=0
rcon.port={{ rcon_port }}
server-ip=0.0.0.0
server-port={{ server_port }}
use-native-transport=true

# RCON 
broadcast-rcon-to-ops=true
enable-rcon=true
rcon.password={{ rcon }}

# Level settings
allow-nether=true
difficulty=hard
gamemode=survival
hardcore=false
level-seed=
level-name={{ world_name }}
level-type=default
pvp=true
spawn-animals=true
spawn-monsters=true
spawn-npcs=true
spawn-protection=16

# Administrative Settings
enable-query=true
enforce-whitelist=false
op-permission-level=3
white-list=true
